.jumbotron {
	background-color: rgba(255, 75, 34, 0.58) !important;
}

.panel {
	background-color: rgba(183, 182, 182, 0.22) !important;
	/*color: white !important;*/
	border-width: 2px !important;
	border-color: black !important;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.panel-heading {
	background-color: rgba(255, 75, 34, 0.58) !important;
	color:white;
}

.line {
	border-top: 1px solid black !important;
}

.saveButton {
	background-color: rgba(255, 75, 34, 0.58) !important;
}

#app {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMN0pAZXPwxhHgcp7kL2gy_8aqSKS4BZFCyuY1WZZ_ajvP9xb-Yw") !important;
	background-size: 100%;
}

